<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification System</title>
</head>
<body>
    <div>
        <nav>
            <ul>
                <li><a href="{% url 'staff_list' %}">Staff</a></li>
                <li><a href="{% url 'student_list' %}">Students</a></li>
                <li><a href="{% url 'event_list' %}">Events</a></li>
                <li>
                    <a href="{% url 'event_list' %}">Notifications ({{ notifications_count }})</a>
                    <ul>
                        {% for notification in notifications %}
                            <li>
                                <a href="{% url 'event_list' %}">
                                    {{ notification.event.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    {% block content %}
    {% endblock content %}
</body>
</html>
