<html>
<head>
    <title>Item List</title>
</head>
<body>
    <h1>Item List</h1>
    <ul>
        {% for item in page_obj %}
            <li>{{ item.name }}</li>
        {% endfor %}
    </ul>

     <div class="pagination"> {% comment %} contains the pagination controls, which help navigate through different pages. {% endcomment %}
        
        <span class="step-links">
           {% if page_obj.has_previous %}     {% comment %}   checks if there is a previous page {% endcomment %}
                <a href="?page=1">&laquo; first</a>  {% comment %} creates a link to the first page {% endcomment %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>       {% comment %}  creates a link to the previous page. {% endcomment %}
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                {% comment %} 
                            Displays the current page number and the total number of pages.
                            {{ page_obj.number }} is the current page number.
                            {{ page_obj.paginator.num_pages }} is the total number of pages.
                {% endcomment %}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}

            {% comment %} 
                    {% if page_obj.has_next %} checks if there is a next page.
                    <a href="?page={{ page_obj.next_page_number }}">next</a> creates a link to the next page.
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a> creates a link to the last page.
            {% endcomment %}
        </span>
    </div>
</body>
</html>
